<template>
    <div id="home" class="col-md-4 offset-md-4 text-center">
       <b-overlay :show="showOverlay" class="d-inline-block col-md-12" rounded="sm">
            <login :registrationOptions="registrationOptions" 
            @register="register" 
            v-if="showLogin"/>

            <token 
            @verifyEmail="verifyEmail" 
            v-if="showToken"/>

            <pin
            :key="reloadPinComponent"
            :header="pinHeader"
            :pinDefined="pinDefined"
            @setPin="setPin"  
            v-if="showPin"/>

            <identyum-generic-form
            :key="reloadFormComponent"
            :data="formData"
            :appToken="appToken"
            @setAlert="setAlert"
            @setUpFormComponent="setUpFormComponent"
            @closeFormComponentUponError="closeFormComponentUponError"
            @setOverlay="setOverlay"
            @signOut="signOut"
            v-if="showForm"
            />

            <b-alert :show="alert.show" 
            :variant=alert.variant dismissible 
            @dismissed="dissmisAlert">{{alert.message}}
        </b-alert>
       </b-overlay>
    </div>
</template>
<script lang="ts">
import { AppToken } from '@/models/authentication/AppToken';
import { AuthenticationService } from '@/services/AuthenticationService';
import { UserLoginEmailService } from '@/services/UserLoginEmailService';
import { FormService } from '@/services/FormService';
import { PinService } from '@/services/PinService';
import { Component, Vue } from 'vue-property-decorator';
import { AlertMessage } from '../models/message/AlertMessage';
import { SelectModel } from '@/models/general/SelectModel';
import { RegisterEmail } from '@/models/login/RegisterEmail';
import { LoginValidation } from '@/validations/LoginValidation';
import { SubmitEmailRequest } from '@/models/login/SubmitEmailRequest';
import { SubmitEmailModel } from '@/models/login/SubmitEmailModel';
import { VerifyEmailRequest } from '@/models/emailVerification/VerifyEmailRequest';
import { OtpModel } from '@/models/emailVerification/OtpModel';
import { PinModel } from '@/models/pin/PinModel';
import { PinSetRequest} from '@/models/pin/PinSetRequest';
import { PinSetModel } from '@/models/pin/PinSetModel';
import { PinSubmitRequest } from '@/models/pin/PinSubmitRequest';
import { PinValidation } from '@/validations/PinValidation';
import { EmailValidation } from '@/validations/EmailValidation';
import { StartResponse } from '@/models/form/StartResponse';

@Component
export default class Home extends Vue {
    
    alert: AlertMessage = new AlertMessage;
    appToken!: AppToken;
    registrationOptions: Array<SelectModel> = new Array<SelectModel>();
    formData: StartResponse = new StartResponse;
    pinDefined = false;
    pinHeader = 'Registration'
    showLogin = false;
    showToken = false;
    showPin = false;
    showForm = false;
    reloadFormComponent=0;
    reloadPinComponent=0;
    showOverlay=false;
    // eslint-disable-next-line
    mounted() {
        this.authenticate();
    }

    async authenticate(): Promise<void> {
        this.showOverlay=true;
        const data= await AuthenticationService.authenticate();
        this.showOverlay=false;
        if(data.error){
           this.setUpErrorAlertMessage(data.error.message);
        }
        
        if(data.token){
            this.appToken=data.token;
            this.getRegistrationOptions();
            this.showLogin=true;
        }
        
    }

    async getRegistrationOptions() : Promise<void>
    {
        if(this.appToken){
            this.showOverlay=true;
            const data= await UserLoginEmailService.start(this.appToken.session_state);
            this.showOverlay=false;
            if(data.error){
                this.setUpErrorAlertMessage(data.error.message);
            }
        
            if(data.options){
                this.registrationOptions = new Array<SelectModel>();
                this.registrationOptions.push(new SelectModel(0, 'Please select an option' ));
                let num=1;
                data.options.availableLoginMethods.forEach( (value) => {
                    this.registrationOptions.push(new SelectModel(num, value ));
                    num++; 
                }); 
                this.showLogin=true;
            }
        }
    }

    async register(registerEmail: RegisterEmail): Promise<void>{
        
        const loginValidation = LoginValidation.validate(registerEmail,this.registrationOptions);
        this.alert.show=false;

        if(!loginValidation.isValid)
        {
            this.alert = loginValidation.alert;
            return;
        }

        const emailValidation = EmailValidation.validate(registerEmail.email)
        if(!emailValidation.isValid)
        {
            this.alert = emailValidation.alert;
            return;
        }

        this.showOverlay=true;
        const selectEmailResponse= await UserLoginEmailService.selectEmail(this.appToken.session_state);
        this.showOverlay=false;

        if(selectEmailResponse.error)
        {
            this.setUpErrorAlertMessage(selectEmailResponse.error.message);
            return;
        }
        
        const request = new SubmitEmailRequest;
        request.sessionState = this.appToken.session_state;
        request.data = new SubmitEmailModel;
        request.data.email = registerEmail.email;
        request.data.language = "hr";
        
        this.showOverlay=true;
        const submitEmailResponse= await UserLoginEmailService.submitEmail(request);
        this.showOverlay=false;
        
        if(submitEmailResponse.success) {
            this.setUpSuccessAlertMessage("Please check your email!");
            this.showLogin = false;
            this.showToken = true;
            return;
        }
        else
        {
            this.setUpErrorAlertMessage(submitEmailResponse.error.message);
            return;
        }
    }

    async verifyEmail(otp: string): Promise<void>
    {

        const pinValidation = PinValidation.validate(otp,'pin');
        if(!pinValidation.isValid){
           this.alert = pinValidation.alert;
           return;
        }

        const request = new VerifyEmailRequest;
        request.otpModel = new OtpModel;
        request.otpModel.otp = otp;
        request.sessionState = this.appToken.session_state;
        
        this.showOverlay=true;
        const verifyEmailResponse= await UserLoginEmailService.verifyEmail(request);
        this.showOverlay=false;
        
        if(verifyEmailResponse.success) {
            this.setUpSuccessAlertMessage("Successfully verified email!");

            this.appToken = verifyEmailResponse.appToken;
            this.showToken = false;
            this.setUpPinComponent();
            return;
        }
        else
        {
            this.setUpErrorAlertMessage(verifyEmailResponse.error.message);
        
            this.showLogin = true;
            this.showToken = false;
            this.authenticate();
            return;
        }
    }


    async setPin(model: PinModel): Promise<void>
    {
       const pinValidation = PinValidation.validate(model.pin,'pin');
       if(!pinValidation.isValid){
           this.alert = pinValidation.alert;
           return;
       }

        const repeatedPinValidation = PinValidation.validate(model.pin,'repeated pin');
        if(!repeatedPinValidation.isValid){
           this.alert = repeatedPinValidation.alert;
           return;
        }

        if(!this.pinDefined)
            if(model.pin !== model.repeatedPin){
             this.setUpErrorAlertMessage("Pin and repeated pin are not equal!");
             return;
            }

        if(this.pinDefined){

            const request = new PinSubmitRequest;
            request.accessToken =this.appToken.access_token;
            request.pin = model.pin;
            
            this.showOverlay=true;
            const submitPinResponse = await PinService.submit(request);
            this.showOverlay=false;
            
            if(submitPinResponse.success)
            {
                this.setUpFormComponent();
            }else{

                this.setUpErrorAlertMessage(submitPinResponse.error.message);
                if(submitPinResponse.error.status == 418)
                {
                    this.showLogin = true;
                    this.showPin = false;
                    this.authenticate();
                }
            }
        }
        else{
            const request = new PinSetRequest;
            request.accessToken =this.appToken.access_token;
            request.data = new PinSetModel;
            request.data.pin = model.pin;
            request.data.repeatedPin = model.repeatedPin;
            request.data.language = "en";
            
            this.showOverlay=true;
            const setPinResponse = await PinService.set(request);
            this.showOverlay=false;
            
            if(setPinResponse.success)
            {
                this.alert.show=false;
                this.setUpPinComponent();
                this.reloadPinComponent+=1;

            }else{
                this.setUpErrorAlertMessage(setPinResponse.error.message);
            }
        }
    }

    async setUpPinComponent() : Promise<void>{
        this.showPin=true;
        
        this.showOverlay=true;
        const pinStartResponse = await PinService.start(this.appToken.access_token);
        this.showOverlay=false;
        
        if(pinStartResponse.success) {
            this.pinDefined = pinStartResponse.data.pinDefined;
            if(this.pinDefined)
                this.pinHeader = 'SignIn';
            else
                this.pinHeader ='Registration';
        }
        else
        {
            this.setUpErrorAlertMessage(pinStartResponse.error.message);
            this.showLogin = true;
            this.showPin = false;
            this.authenticate();
            return;
        }
    }

    async setUpFormComponent(): Promise<void>
    {
        this.showOverlay=true;
        const formStartResponse = await FormService.start(this.appToken.access_token);
        this.showOverlay=false;
        if(formStartResponse.success)
        {
            this.showPin=false;
            this.formData = formStartResponse.data;
            this.showForm = true;
            this.reloadFormComponent+=1; 
            this.alert.show= false;
        }
        else{
            this.setUpErrorAlertMessage(formStartResponse.error.message);
            this.showLogin = true;
            this.showPin = false;
            this.authenticate();
        }
    }

    async closeFormComponentUponError(msg: string): Promise<void>
    {
        this.setUpErrorAlertMessage(msg);
        this.showLogin = true;
        this.showForm = false;
        this.authenticate();
    }

    async signOut(): Promise<void>
    {
        this.alert.show= false;
        this.showLogin = true;
        this.showForm = false;
        this.authenticate();
    }

    setOverlay(val:boolean) : void
    {
        this.showOverlay=val;
    }

    setAlert(alert: AlertMessage) : void
    {
        this.alert = alert;
    }

    dissmisAlert() : void {
        this.alert.show = false;
    }

    setUpErrorAlertMessage(msg:string) :void
    {
        this.alert.message = msg;
        this.alert.variant = "danger";
        this.alert.show = true;
    }

    setUpSuccessAlertMessage(msg:string): void
    {
        this.alert.message = msg;
        this.alert.variant = "success";
        this.alert.show = true;
    }
}
</script>

<style lang="css" scoped>
#home{
border-radius: 15px;
background-color: floralwhite;
}
</style>