<template>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>Fill up form</h3>
            <br/>
            <br/>
            <form @submit.prevent="submit" id="genericForm">
                <div v-for="el in data.elements" :key="el.name">
                    <div class="form-group" v-if="el.type === 'TEXT' && el.tag === 'INPUT'">
                        <input :id="el.name" :type="el.type" :name="el.name" 
                        class="form-control"
                        :placeholder="el.label" :required="el.required">
                    </div>
                      <div class="form-group" v-if="el.type === 'DATE' && el.tag === 'INPUT'">
                        <input :id="el.name" :type="el.type" :name="el.name" 
                        class="form-control" :min="el.min" :max="el.max"
                        :placeholder="el.label" :required="el.required">
                    </div>
                    <div class="form-group" v-if="el.type === 'RADIO' && el.tag=== 'INPUT'">
                        <div class="row offset-md-1" v-for="radio in el.options" :key="radio.name" >
                            <input :id="radio.name" :type="el.type" 
                            :name="el.name"
                            :value="radio.value"
                            @select="radio.selected"
                            class="form-check-input" :required="el.required" >
                            <label class="form-check-label" :for="radio.name">{{radio.text}}</label><br>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="genericFormSubmitbtn" class="btn btn-success btn-block" type="submit">Submit</button>
                </div>
            </form>
            <div class="form-group" v-if="displayEdit">
                <button class="btn btn-warning btn-block" @click="setUpFormComponent">Edit</button>
            </div>
            <div class="form-group" v-if="displayEdit">
                <button class="btn btn-primary btn-block" @click="signOut">SignOut</button>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
import { StartResponse } from '@/models/form/StartResponse';
import { SubmitEntry } from '@/models/form/SubmitEntry';
import { SubmitEntryRequest } from '@/models/form/SubmitEntryRequest';
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';
import { FormValidation } from '@/validations/FormValidation';
import { AlertMessage } from '@/models/message/AlertMessage';
import { FormService } from '@/services/FormService';
import { AppToken } from '@/models/authentication/AppToken';

@Component
export default class IdentyumGenericForm extends Vue {
    @Prop() data!: StartResponse;
    @Prop() appToken!: AppToken;
    displayEdit= false;

    async submit(): Promise<void> {
        
        if(this.displayEdit===true)
            return;

        const form = document.getElementById('genericForm');
        if(form)
        {
            const formData = new FormData(form as HTMLFormElement);
            let submitEntryRequest = this.getSubmitEntryRequest(formData);
            
            let isValid=true;

            for(let entry in submitEntryRequest.entries){
                isValid =this.validateSubmitEntry(submitEntryRequest.entries[entry]);
            }

            if(!isValid)
                return;
            
            this.setOverlay(true);
            const formSubmitResponse = await FormService.submit(this.appToken.access_token,submitEntryRequest);
            this.setOverlay(false);
            
            if(formSubmitResponse.success)
            {
                this.disableAllSubmitEntryFormElement(submitEntryRequest.entries);
                this.disableSubmitBtn();
                const alert = new AlertMessage;
                alert.message="Successfully finished process!";
                alert.variant="success";
                alert.show=true;
                this.setAlert(alert);
                this.displayEdit=true;
                return;
            }else
               this.closeFormComponentUponError(formSubmitResponse.error.message);
        
        }
    }

    getSubmitEntryRequest(formData : FormData): SubmitEntryRequest{
         let submitEntryRequest = new SubmitEntryRequest;
            submitEntryRequest.entries = new Array<SubmitEntry>();

            for (let entry of formData.entries()) {
                const submitEntry = new SubmitEntry;
                submitEntry.key = entry[0];
                submitEntry.value = entry[1] as string;
                submitEntryRequest.entries.push(submitEntry);
            }
            return submitEntryRequest;
    }

    validateSubmitEntry(submitEntry: SubmitEntry ):boolean
    {
        let elPattern;
        let required;
        let name;
        for(let el of this.data.elements)
        {
            if(el.name === submitEntry.key){
                if(el.pattern){ 
                    elPattern = el.pattern;
                }
                if(el.required){
                    required = el.required;
                    name = el.name;
                }
                break;
            }
        }
        if(required && name){
            const validationResponse = FormValidation.validateRequired(submitEntry.value,name);
            if(!validationResponse.isValid)
            {
                this.setAlert(validationResponse.alert);
                return false;
            }
        }

        if(elPattern){
            const validationResponse = FormValidation.validate(submitEntry.value,submitEntry.key,elPattern);
            if(!validationResponse.isValid)
            {
                this.setAlert(validationResponse.alert);
                return false;
            }
        }
        return true;
    }

    disableAllSubmitEntryFormElement(submitEntries: Array<SubmitEntry>):void{
        submitEntries.forEach((entry)=>{
            this.disableSubmitEntryFormElement(entry);
        });
    }

    disableSubmitEntryFormElement(submitEntry: SubmitEntry):void
    {
        const submitEntryFormElement = document.getElementById(''+submitEntry.key+'');
        submitEntryFormElement?.setAttribute('disabled','disabled');
    }

    disableSubmitBtn():void
    {
        const submitBtnElement = document.getElementById('genericFormSubmitbtn');
        submitBtnElement?.setAttribute('disabled','disabled');
    }

    @Emit("setAlert")// eslint-disable-next-line
    setAlert(alert: AlertMessage):void
    {
        return;
    }

    @Emit("closeFormComponentUponError")// eslint-disable-next-line
    closeFormComponentUponError(msg: string){
        return;
    }

    @Emit("setUpFormComponent")// eslint-disable-next-line
    setUpFormComponent(){
        return;
    }
    @Emit("setOverlay")// eslint-disable-next-line
    setOverlay(val:boolean){
        return;
    }

    @Emit("signOut")// eslint-disable-next-line
    signOut(){
        return;
    }
}
</script>