<template>
   <div class="row">
        <div class="col-md-8 offset-md-2">
                <h3>SingIn</h3>
            <b-form-select v-model="selected" :options="registrationOptions" @change="onRegistrationOptionChange"></b-form-select>
            <br/>
            <br/>
            <form @submit.prevent="submit">
                <div class="form-group">
                    <input id="email" type="text" v-model="user.email" class="form-control"  maxlength="100" :placeholder="label" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">SignIn</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts">

import { Component, Emit, Prop, Vue } from 'vue-property-decorator';
import { User } from '../models/login/User';
import { RegisterEmail } from '../models/login/RegisterEmail';
import { SelectModel } from '../models/general/SelectModel';
@Component
export default class Login extends Vue {
    @Prop() registrationOptions!: Array<SelectModel>;
    validated= true;
    user: User = new User;
    selected= 0;
    label="";

    submit(): void {
        const registerEmail = new RegisterEmail;
        registerEmail.email = this.user.email;
        registerEmail.selectedOption = this.registrationOptions[this.selected];
        this.register(registerEmail);
    }
    
    onRegistrationOptionChange():void{
        this.label="";
        const sel =this.registrationOptions[this.selected]
        if(sel.text =="SMS")
            this.label="Enter phone number"
        if(sel.text =="EMAIL")
            this.label="Enter email"
    }

    @Emit("register")// eslint-disable-next-line
    register(registerEmail: RegisterEmail):void
    {
        return;
    }
}
</script>