<template>
     <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>{{header}}</h3>
            <form @submit.prevent="submit">
                <div class="form-group" v-if="pinDefined">
                    <input id="pin" :type="pinType" v-model="model.pin" class="form-control" maxlength="6" placeholder="Enter Pin" required>
                    <b-icon :icon="pinIcon" variant="dark" @click="changePinVisibility"></b-icon>
                </div>
                  <div class="form-group" v-if="!pinDefined">
                    <input id="pin" type="text" v-model="model.pin" class="form-control" maxlength="6" placeholder="Enter Pin" required>
                </div>
                <div class="form-group" v-if="!pinDefined">
                    <input id="repeatedPin" :type="repetedPinType" v-model="model.repeatedPin" class="form-control" maxlength="6" placeholder="Repeate Pin" required>
                    <b-icon :icon="repetedPinIcon" variant="dark" @click="changeRepetedPinVisibility"></b-icon>
                </div>
                <div class="form-group" v-if="!pinDefined">
                    <button class="btn btn-success btn-block" type="submit">Register</button>
                </div>
                <div class="form-group" v-if="pinDefined">
                    <button class="btn btn-success btn-block" type="submit">SignIn</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';
import { PinModel } from '../models/pin/PinModel';

@Component
export default class Pin extends Vue {
    @Prop() pinDefined!: boolean;
    @Prop() header!: string;
    model: PinModel = new PinModel;
    pinIcon = 'eye-slash';
    pinType = 'password';
    repetedPinIcon= 'eye-slash';
    repetedPinType ='password';

    submit(): void {
        this.setPin(this.model);
    }

    changePinVisibility() : void{
        if(this.pinType === 'password')
        {
            this.pinType = 'text';
            this.pinIcon = 'eye-fill';
        }else
        {
            this.pinType = 'password';
            this.pinIcon = 'eye-slash';
        }
    }

      changeRepetedPinVisibility() : void{
        if(this.repetedPinType === 'password')
        {
            this.repetedPinType = 'text';
            this.repetedPinIcon = 'eye-fill';
        }else
        {
            this.repetedPinType = 'password';
            this.repetedPinIcon = 'eye-slash';
        }
    }

    @Emit("setPin")// eslint-disable-next-line
    setPin(model: PinModel):void
    {
        return;
    }
}
</script>