<template>
   <div class="row">
        <div class="col-md-8 offset-md-2">
                <h3>Verify Email</h3>
            <form @submit.prevent="submit">
                <div class="form-group">
                    <input id="email" type="text" v-model="otp" class="form-control"  maxlength="6" placeholder="Enter number from email" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">Verify</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts">

import { Component, Emit, Vue } from 'vue-property-decorator';

@Component
export default class Token extends Vue {
    otp='';

    submit(): void {
        this.verifyEmail(this.otp);
    }

    @Emit("verifyEmail")// eslint-disable-next-line
    verifyEmail(otp: string):void
    {
        return;
    }
}
</script>