<template>
  <div id="app">
      <home></home>
  </div>
</template>

<script lang="ts">
import {  Vue } from 'vue-property-decorator';

export default class App extends Vue {}
</script>
<style lang="css" scoped>
#app{
  margin: 10% auto 0 auto;
}
</style>
